/* Reset básico para tirar margens padrão */
body {
    background-size: cover;
    background-color: #2e2e2e;
    background-position: center;
    backdrop-filter: blur(2px); /* Efeito de desfoque no fundo */
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex; /* Centraliza tudo na tela */
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura total da tela */
    color: #dadada;
    transition: background 0.5s ease; /* Suaviza a troca de imagem de fundo */
}

/* 1. O container principal do Quiz */
#quiz-container {
    border: 2px solid #3b3b3b; /* Borda azul */
    background-color: rgba(20, 20, 20, 0.95); /* Branco com leve transparência */
    padding: 30px;
    border-radius: 15px; /* Bordas arredondadas */
    box-shadow: 0px 0px 50px rgba(0,0,0,0.5); /* Sombra para dar destaque */
    width: 90%;
    max-width: 600px; /* Largura máxima */
    text-align: center;
}

/* 2. O Timer */
#timer {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff; /* Vermelho para dar urgência */
    margin-bottom: 20px;
}

/* 3. O Texto da Pergunta */
#question-text {
    font-size: 1.5rem;
    margin-bottom: 25px;
    min-height: 60px; /* Evita que a caixa pule se a pergunta for curta */
}

/* 4. A área das opções */
#options {
    display: flex;
    flex-direction: column; /* Botões um em cima do outro */
    gap: 15px; /* Espaço entre os botões */
}

/* 5. Os Botões (Esses são criados pelo JS, então estilizamos a tag button dentro de #options) */
#options button {
    padding: 15px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #00c3ff; /* Azul */
    color: rgb(44, 44, 44);
    border: none;
    border-radius: 8px;
    transition: transform 0.2s, background-color 0.2s;
}

/* Efeito ao passar o mouse no botão */
#options button:hover {
    background-color: #ffffff; /* Azul mais escuro */
    transform: scale(1.08); /* Cresce levemente */
}

/* 6. A área de resultado (aparece só no final) */
#result {
    margin-top: 15px;
}

#result h2 {
    color: #22b845; /* Verde */
}

.restart-button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #00c3ff; /* Azul */
    color: rgb(44, 44, 44);
    border: none;
    border-radius: 8px;
    transition: transform 0.2s, background-color 0.2s;
    margin-top: 15px;
}
.restart-button:hover {
    background-color: #ffffff; /* Azul mais escuro */
    transform: scale(1.08); /* Cresce levemente */
}